# Data and Programming for Analytics

Week 4 - Data Exploration with Pandas

# Announcement

- Final project proposal due in week 4

- Discussion sessions led by Jinan cover supplemental materials. Recordings are also available on Canvas -> Modules.

- Please post your questions on Piazza. You may also answer others' questions.

# Some commonly used libraries for data analysis



- Numpy – a fundamental package for scientific computing with Python, supporting for large, multi-dimensional arrays and matrices, along with a large library of high-level mathematical functions to operate on these arrays.
http://www.numpy.org/

- Pandas –a Python package providing fast, flexible, and expressive data structures designed to make working with structured (tabular, multidimensional, potentially heterogeneous) and time series data both easy and intuitive.
http://pandas.pydata.org/

# Some commonly used libraries for data analysis

- Matplotlib – a python 2D plotting library which produces publication quality figures in a variety of hardcopy formats and interactive environments across platforms.
http://matplotlib.org/


- Seaborn - a Python visualization library based on matplotlib. It provides a high-level interface for drawing attractive statistical graphics. http://stanford.edu/~mwaskom/software/seaborn/

# Some commonly used libraries for data analysis

- urllib2 – a Python package for fetching URLs (Uniform Resource Locators). It offers a very simple interface, in the form of the urlopen function
https://docs.python.org/2/library/urllib2.html


- Beautiful Soup - a Python library for pulling data out of HTML and XML files. It works with your favorite parser to provide idiomatic ways of navigating, searching, and modifying the parse tree.
http://www.crummy.com/software/BeautifulSoup/

# Some commonly used libraries for data analysis

- sklearn –  a Python package for machine learning and data mining
http://scikit-learn.org/stable/


- statsmodels –a Python package that allows users to explore data, estimate statistical models, and perform statistical tests.
http://statsmodels.sourceforge.net/


- time - a Python package that provides various time-related functions
https://docs.python.org/2/library/time.html

# Today's lecture



- Introduction to pandas
    - read a table
    - data exploration
    * subsetting the dataframe
    * groupby
    * append dataframes 
    * merge (inner join, left join, right join, outer join) dataframes

# Pandas

In this section of the course we will learn how to use pandas for data analysis.

# Panda Series

The first main data type we will learn about for pandas is the Series data type. Let's import Pandas and explore the Series object.

A Series is very similar to a NumPy array (in fact it is built on top of the NumPy array object). What differentiates the NumPy array from a Series, is that a Series can have axis labels, meaning it can be indexed by a label, instead of just a number location. It also doesn't need to hold numeric data, it can hold any arbitrary Python Object.

Let's explore this concept through some examples:

In [ ]:
!pip install pandas

In [ ]:
import numpy as np
import pandas as pd

### Creating a Series

You can convert a list,numpy array, or dictionary to a Series:

In [ ]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

#### Using Lists

In [ ]:
series_1 = pd.Series(data=labels, index = my_list)
series_1

In [ ]:
series_2 =pd.Series(my_list,labels)
series_2

In [ ]:
series_1[10]

In [ ]:
pd.Series(my_list,labels)

#### Using NumPy Arrays

In [ ]:
pd.Series(arr)

In [ ]:
pd.Series(arr,labels)

#### Using Dictionary

In [ ]:
pd.Series(d)

### Data in a Series

A pandas Series can hold a variety of object types:

In [ ]:
pd.Series(data=labels)

In [ ]:
# Even functions (although unlikely that you will use this)
pd.Series([sum,len])

## Using an Index

The key to using a Series is understanding its index. Pandas makes use of these index names or numbers by allowing for fast look ups of information (works like a hash table or dictionary).

Let's see some examples of how to grab information from a Series. Let us create two series, ser1 and ser2:

In [ ]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan'])

In [ ]:
ser1

In [ ]:
ser2 = pd.Series([1,2,5,4],index = ['USA', 'Germany','Italy', 'Japan'])

In [ ]:
ser2

In [ ]:
ser1['USA']

In [ ]:
ser1*ser2

In [ ]:
ser3 = pd.Series([1,2,3,4])  
ser4 = pd.Series([1,2,5,4])  
print(ser3)
print(ser4)

In [ ]:
ser3+ser4

# Dataframe
Let's move on to DataFrames, which will expand on the concept of Series!
- A two-dimensional table of data with column and row indexes

- The columns are made up of pandas series objects

We can think of a DataFrame as a bunch of Series objects put together to share the same index.

In [ ]:
from numpy.random import randn # random number generated based on a standard normal distribution
np.random.seed(111)

In [ ]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())
#'A B C D E'.split()

In [ ]:
df

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [ ]:
df[['Y', "W"]]

In [ ]:
# Pass a list of column names
df[['Z','W', "Y"]]

In [ ]:
# or the SQL Syntax
df.W

In [ ]:
type(df[['W',"X"]])

**Creating a new column:**

In [ ]:
df['new'] = df['W'] + df['Y']
df.head()

In [ ]:
df["new_2"]= pd.Series([1,3,5,7,9], index=["A","B","C","D","E"])
df

** Removing Columns**

In [ ]:
df.drop('new', axis = 1) # axis = 0 means along the rows, axis =1 means along the columns, default is zero

In [ ]:
# Not inplace unless specified!
df

In [ ]:
df.drop(['new'],axis=1,inplace=True) # inplace = False is the default
df

In [ ]:
#Can also drop rows
#df.drop('E', axis =0, inplace=True)
df

** Selecting Rows**

* Selecting data by row numbers (.iloc)
* Selecting data by label or by a conditional statment (.loc)
* Selecting in a hybrid approach (.ix) (now Deprecated in Pandas 0.20.1)

Select based off of position

In [ ]:
df.iloc[0:2,0]

In [ ]:
# Single selections using iloc and DataFrame
# Rows:
df.iloc[0] # first row of data frame 
df.iloc[1] # second row of data frame 
df.iloc[-1] # last row of data frame 
# Columns:
df.iloc[:,0] # first column of data frame 
df.iloc[:,1] # second column of data frame 
df.iloc[:,-1] # last column of data frame

In [ ]:
# Multiple row and column selections using iloc and DataFrame
df.iloc[0:3] # first three rows of dataframe
df.iloc[:, 0:2] # first two columns of data frame with all rows
df.iloc[[0,3], [0,1,2]] # 1st, 4th row + 1st 2nd 3rd columns.
df.iloc[0:2, 0:2] # first two rows and two columns of data frame

Select based on label (.loc)

The Pandas loc indexer can be used with DataFrames for two different use cases:

* Selecting rows by label/index
* Selecting rows with a boolean / conditional lookup

The loc indexer is used with the same syntax as iloc: data.loc[[row selection], [column selection]] .

In [ ]:
df.loc['A']

In [ ]:
df.loc[['A', 'C']].iloc[:, 0]

Selecting subset of rows and columns

In [ ]:
df.loc[['A', 'C'], ["W", "Y"]]

In [ ]:
df.loc['B','Y']

In [ ]:
df_1 = df.loc[['A','B'],['W','Y']]
df_1

Selecting rows with a boolean / conditional lookup

In [ ]:
df

In [ ]:
df[df["Y"]>0]["W"]#df[df["Y"] >0]["W"] or df[df.Y>0].W
df_new = df[df.Y>0]
df_new.loc["A","W"]

In [ ]:
df["Y"]>0
df.Y > 0

In [ ]:
df.loc[df["Y"]>0] #df[df["Y"] >0]

In [ ]:
df["new_3"] = pd.Series([2,4, 6,7,9], index = "A B C D E".split(" "))
df

#### Exercise:
Select all rows where "new_2" is either 1 or 5.

In [ ]:
# your code here

**Selecting pandas data using ix**

Note: The ix indexer has been deprecated in recent versions of Pandas, starting with version 0.20.1.

The ix[] indexer is a hybrid of .loc and .iloc. Generally, ix is label based and acts just as the .loc indexer. However, .ix also supports integer type selections (as in .iloc) where passed an integer. 
ix will accept any of the inputs of .loc and .iloc.

In [ ]:
# ix indexing works just the same as .loc when passed strings
#df.ix[['A']] == df.loc[['A']]
#df.ix['A']

In [ ]:
# ix indexing works the same as .iloc when passed integers.
#df.ix[[0]] == df.iloc[[0]]

#df.ix[[1]]

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [ ]:
df

In [ ]:
df>0

In [ ]:
df[df.Y>0]["W"]

In [ ]:
df[df['Y']>0]

In [ ]:
df[df['W']>0]['Y']

In [ ]:
df[df['Y']>0][['Y','Z']]

For two conditions you can use | and & with parenthesis:

#### Exercise:
Select all rows that have positive values of "W" and positive values of "Y"

In [ ]:
# Your code here
df

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. You may also read the following information about index hierarchy.

In [ ]:
df

In [ ]:
# Reset to default 0,1...n index
df.reset_index(inplace= True)
df

In [ ]:
newind = 'CA NY WY OR'.split()

In [ ]:
df['States'] = newind
df

In [ ]:
df.set_index('States')

In [ ]:
df

In [ ]:
df.set_index("States", inplace= True)

In [ ]:
df = df.reset_index()
df.set_index('States',inplace=True)
df

## Multi-Index and Index Hierarchy

(Optional) Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [ ]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside)) #create an interator over two lists and then convert to a list
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [ ]:
hier_index

In [ ]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

Now let's show how to index this! For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [ ]:
df.loc['G1']

In [ ]:
df.loc['G1'].loc[1]

In [ ]:
df.index.names

In [ ]:
df.index.names = ['Group','Num']
df

In [ ]:
df.xs('G1')

In [ ]:
df.xs(['G1',1])

In [ ]:
df.xs(1,level='Num')

# Merging, Joining, and Concatenating

There are 3 main ways of combining DataFrames together: Merging, Joining and Concatenating.

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']}
                        )
df1

In [ ]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']}
                         ) 
df2

In [ ]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']}
                        )
df3

## Concatenation

Concatenation basically glues together DataFrames. Keep in mind that dimensions should match along the axis you are concatenating on. You can use **pd.concat** and pass in a list of DataFrames to concatenate together:

In [ ]:
df_concat = pd.concat([df1,df2,df3])

In [ ]:
df_concat.reset_index()

In [ ]:
pd.concat([df1,df2,df3],axis=1)

# Merging

The **merge** function allows you to merge DataFrames together using a similar logic as merging SQL Tables together. For example:


<img src = "https://shanelynnwebsite-mid9n9g1q9y8tt.netdna-ssl.com/wp-content/uploads/2017/03/join-types-merge-names.jpg">

In [ ]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K2'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
left

In [ ]:
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})  
right
#pd.concat([left,right], axis=1)

In [ ]:
pd.merge(left,right,how='outer', on='key')

In [ ]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
left

In [ ]:
    
right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                               'key2': ['K0', 'K0', 'K0', 'K0'],
                                  'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']})
right

In [ ]:
pd.merge(left, right, how="right", on=['key1'])

In [ ]:
pd.merge(left, right, how='right', on=['key1', 'key2'])

In [ ]:
pd.merge(left, right, how='left', on=['key1', 'key2'])

## Joining
Joining is a convenient method for combining the columns of two potentially differently-indexed DataFrames into a single result DataFrame.

In [ ]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 
left

In [ ]:
right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])
right

In [ ]:
left.join(right, how="left") # by default is a left-join

In [ ]:
left.join(right, how='outer')

## The MovieLens data

http://grouplens.org/datasets/movielens/


Example inspired by Greg Reda

# Read the user data

In [ ]:
# all imports

import numpy as np
import pandas as pd


import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
# pass in column names for each CSV
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']

users = pd.read_csv(
    'http://files.grouplens.org/datasets/movielens/ml-100k/u.user', 
    sep='|', names=u_cols, encoding = "latin") #read a csv file

users.head(10)

# Read the ratings

In [ ]:

r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv(
    'http://files.grouplens.org/datasets/movielens/ml-100k/u.data', 
    sep='\t', names=r_cols, encoding = "latin")

ratings.head()
#ratings.shape

# Now data about the movies

In [ ]:
# the movies file contains columns indicating the movie's genres
# let's only load the first five columns of the file with usecols
m_cols = ['movie_id', 'title', 'release_date', 
            'video_release_date', 'imdb_url']

movies = pd.read_csv(
    'http://files.grouplens.org/datasets/movielens/ml-100k/u.item', 
    sep='|', names=m_cols, usecols=range(5), encoding = "latin")

#movies.to_csv('movies.csv')
movies.head()
#movies.shape
#movies[movies.movie_id ==242]

# Get information about data

In [ ]:
#print(movies.dtypes)
#print(movies.describe())
print(ratings.describe())
# *** Why only those two columns? ***

# Selecting data

- DataFrame => group of Series with shared index
- Single DataFrame column => Series

In [ ]:
users.head()
users[["age", "sex"]]

In [ ]:
#select columns
users['occupation'].head()
users.occupation.head()

In [ ]:
## *** Where did the nice design go? ***
columns_you_want = ['occupation', 'sex'] 
users[columns_you_want].head()

In [ ]:
print(users.iloc[0:100]) # row at position 3, 4
users.head()

# Filtering data

Select users older than 25

In [ ]:
oldUsers = users[users.age > 65]
oldUsers.head()

# Quiz:

- show users aged 40 and male
- show the mean age of female programmers

In [ ]:
# users aged 40 AND male
# your code here

In [ ]:
## users who are female and programmers
# your code here

## show statistic summary or compute mean
# your code here

# Groupby

The groupby method allows you to group rows of data together and call aggregate functions

# Split-apply-combine

- splitting the data into groups based on some criteria

- applying a function to each group independently

- combining the results into a data structure

In [ ]:
ratings.rating.mean()

Now you can use the .groupby() method to group rows together based off of a column name. For instance let's group based off of user_id. This will create a DataFrameGroupBy object:

In [ ]:
ser1 = ratings.groupby("movie_id").rating.count()
ser2 = ratings.groupby("movie_id").rating.mean()
df = pd.concat([ser1, ser2], axis =1)
df.columns = ["count", "mean"]
df.rename({"rating": "", "": ""}, axis =1, inplace = True)

You can save this object as a new variable:

In [ ]:
grouped = ratings.groupby("user_id")

And then call aggregate methods off the object:

In [ ]:
grouped.rating.describe()
grouped.min()
#grouped.max()
grouped.std()
grouped.count()
#grouped.describe()

# Split-apply-combine

<img src='split_apply.png'>

# Find Diligent Users

- split data per user ID
- count ratings
- combine result

In [ ]:
#print(ratings.head())
## split data
ratings.groupby("user_id").count().sort_values(by="rating")
#ratings.groupby("user_id").count().sort_values(by="rating")
## count and combine

# Quiz

- get the average rating per movie

- advanced: get the movie titles with the highest average rating

In [ ]:
print("Good movie ids:")
#your code here


#print("Best movie titles")
# your code here

In [ ]:
#rename columns
df.columns = ["", "", ""]
df.rename({"a": "A", "b": "B"}, axis = 1, inplace = True)

# Passing a Function

Anonymous function means that a function is without a name. As we already know that def keyword is used to define the normal functions and the lambda keyword is used to create anonymous functions. It has the following syntax:

*lambda* arguments: expression

In [ ]:
grouped = ratings.groupby("movie_id")
average_ratings = grouped.apply(lambda y: y.mean())
average_ratings.head()

In [ ]:
ratings.sort_values(by=["movie_id", "user_id"])

In [ ]:
movies.title.str.split(" ")
movies.title.str.split(" ").apply(lambda x: x[0])
# ratings.rating.apply(np.sqrt)
# movies.title.apply(len)

# Quiz

- get the number of female and male users

- advanced: list all occupations and if they are male or female dominant

In [ ]:
# get the number of female and male users
print('number of male users: ')
# your code here


print('number of female users: ')
# your code here

In [ ]:
# list all occupations and if they are male or female dominant
# your code here